.vs/
BitbendazLinker/obj/
packages/
BitbendazLinker/bin/
BitbendazLinkerCli/obj/
BitbendazLinkerCli/bin/
BitbendazLinkerLogic/obj/
BitbendazLinkerLogic/bin/
BitbendazLinkerClient/obj/
BitbendazLinkerClient/bin/
BitbendazLinker.sln.DotSettings.user
